*{
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
  padding-top: 50px;
  position: relative
}

label{
    font-family: 'Century Gothic';
    font-weight: lighter;
}

.starter-template{
    margin: 0 20%;
}

.page-header{
    text-align: center;
}


.navbar-nav{
    font-size: 16px;
}

.error{
    background-color: rgb(224, 194, 194);
    color: rgb(214, 66, 66);
    font-family: 'Century Gothic';
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.sukses{
    background-color: rgb(194, 224, 212);
    color: rgb(101, 160, 136);
    font-family: 'Century Gothic';
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

input[type=submit]{
    background-color: #000; 
    color: #fff; 
    border-radius: 5px; 
    padding: 5px 7px;
    border: none;
    width: 100px;
    margin-left: 42%;
}

input[type=submit]:hover{
    background-color: rgb(65, 64, 64);
}

.recap h4{
    font-family: 'Century Gothic';
}

.recap .sukses, .recap .error{
    font-size: larger;
}

.recap thead{
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.btn {
    font-size: 30px;
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

#butoni1{
    background: radial-gradient(rgb(194, 224, 212) 0%, rgb(101, 160, 136) 100%);
    box-shadow: 10px 10px 30px rgb(38, 90, 49);
}

#butoni2{
    background: radial-gradient(rgb(224, 194, 194) 0%, rgb(214, 66, 66) 100%);
    box-shadow: 10px 10px 30px rgb(92, 25, 25);
}
  
.btn::before {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: black;
    opacity: 0;
    content: '';
    animation: pulse 1s infinite;
}

.btn.is-clicked {
    background: linear-gradient(to bottom, gray 0%, dimgray 100%);
}

.btn.is-clicked:before {
    animation: blastOut 1s;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #e4e4e4;
}

.text-center{
    padding: 0 3px;
    font-size: larger;
    background-color: rgb(227, 228, 228);
    font-family: 'Century Gothic';
    margin: 0 40%;
    border-radius: 20px;
}
  
@keyframes blastOut {
    from {
      transform: scale(0.9);
      opacity: .4;
    }
    to {
      transform: scale(10);
      opacity: 0;
    }
}
.btn1, .btn2{
    margin: 15% 15%;
}
.inout{
    display: inline-block;
}

#boxDel{
    margin: 0 40%;
}

.radios{
    padding: 0 40px;
}

.del{
    margin: 0 25%;
}

.container{
    margin-top: 2%;
}